/* colours*/

* {
  --color-primary: #004d4b;
  --color-secondary: #003333;
  margin: 0;
  padding: 0;
  
}
/*Typography*/
html {
  font-size: 62.5%;
  
}

/*body font & font size*/

body {
  align-items:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 
}

h1,
h2 {
  font-size: 4rem;
  color: var(--color-primary);
}



@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
    
  }
  h1 {
    font-size: 2.5rem;
  }
}

/* List */

a {
  text-decoration: none;
}

/* navBar*/

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* .nav--test {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
} */

/* .nav {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
} */

/* .nav__list {
    width:100%;
    max-height: 100%;
    opacity: 1;
    justify-content: center;
    
} */

.nav__item {
  border-bottom: 0.5px solid rgb(0, 74, 75);
  font-size: 1.2rem;
  list-style: none;
  padding: 1rem 2rem;
  text-align: center;
  
}

.nav__buss {
  width: 250px;
  height: 100px;
 
}

.nav__item > a {
  color: var(--color-secondary);
  transition: color 0.25s;
}

.nav__item > a:hover {
  color: rgb(32, 178, 170);
}

.nav--contact {
  font-size: 1.2rem;
  list-style: none;
  padding-top: 6px;
  padding: 1rem 2rem;
  text-align: center;
}
/*collapsible*/


/* .collapsible--expanded .collapsible__item {
  transform: rotate(-90deg);
} */

.collapsible--expanded .collapsible__content {
  display: inline-flex;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 0.8;
  box-shadow: 0 0 0 3px rgb(157, 182, 181);
  border-radius: 6px;
  transition: box-shadow 0.15s;
  cursor: pointer;
}


@media screen and (min-width: 768px) {

  .body {
    align-items: center;
  }
  .nav__toggler {
    display: none;
  }

  .nav__list {
    width: auto;
    display: flex;
  }

  .nav__item {
  border: 0px;
  font-size: 1.6rem;
  }
 

}

/* Gradient*/
.gradiente {
  width: 100%;
  height: 200px;
  overflow:hidden;
  border-radius: 10px;
  background: rgb(198, 211, 210);
  background: -moz-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6d3d2",endColorstr="#768888",GradientType=1);
}


/* Body block*/
.body--block {
  flex-grow: 1;
}

/*Grid*/
.grid {
  display: grid;
}

.block {
  text-align: center;
  color: var(--color-primary);
  
}

.list {
  list-style: none;
  padding-left: 0;
  border: 0px;
}

.image__grid {
  width: 100%;
}

/*icon*/
.icon {
  width: 40px;
  height: 40px;
}

.icon--primary {
  fill: var(--color-secondary);
}

/*slider*/


.slider{
  width: 100%;
  height: 500px;
  overflow:hidden;
  border-radius: 10px;
  background: rgb(198, 211, 210);
  background: -moz-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6d3d2",endColorstr="#768888",GradientType=1);

}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  scroll-padding: 0%;
  
  
}


.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid rgb(157, 182, 181);;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: rgb(157, 182, 181);
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}


/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid rgb(157, 182, 181);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: rgb(205, 211, 211);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: rgb(205, 211, 211);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: rgb(205, 211, 211);
}

/* paragraph*/

.paragraph__body {
  text-align:left;
  width: 98%;
  height: 200px;
  text-indent: 15px;
  padding: 0 10px;
}

/*banner services*/

.banner--services {
  background:#b9c7c6ff;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  
}



.banner__info {
  
  justify-content: space-between;
  grid-template-columns: 50% 50% 50% 50%;
  margin-top: 60px;
  margin-bottom: -7px;  
}

.footer-page {
  width: 100%;
  height: 115px;
  background: #004d4bff;
  margin-bottom: 0px;
  padding-left: 1.2rem;
}

@media screen and (min-width: 768px) {
  .banner__info {
    display: grid;
  }

}
  

.block-service {
  border-radius: 10px;
  display: inline-table;
  margin-left: 20px;
  margin-top: 50px;
  width: 50%;
  text-align: left;
  
}


/* form */

.form-section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.contact-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 30px rgb(157, 182, 181);
  border-radius: 10px;
  margin-bottom: 20px;
}

/* input form*/

.form-group  {
  width: 100%;
  margin-top: 20px;
  font-size: 2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.6rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.6rem;
  border-radius: 10px;
  color: var(--color-primary);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3 ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(157, 182, 181);
}

/*footer*/

.footer-page{
  padding: 0px;
  text-align: center;
  
  
 
}

.footer_rights{
  padding-top: 50px;
  color: aliceblue;
  font-size: 1.2rem;
}


/* Contact*/

.aboutme-block {
  grid-template-columns: repeat(2, 1fr);
}   
.aboutme_image {
  width: 125px;
  height: 125px;
  border-radius: 150px;


}

@media screen and (max-width: 1024px) {
  .aboutme_image {
    width: 75px;
    height: 75px;
    border-radius: 150px;
  
  }


}