:root {

  --color-primary: #004d4b;
  --color-secondary: #003333;
}

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  
}
/*Typography*/
html {
  font-size: 62.5%;
  
}

/*body font & font size*/

body {
  align-items:center;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color:rgb(59, 59, 59);
  line-height: 2;
  word-spacing: 0.15rem;
  font-weight: 540;
  min-height:calc(100vh - 100px);
  display: flex;
  flex-direction: column;
 
}

h1,
h2 {
  font-size: 4rem;
  color: var(--color-primary);
  margin-bottom: 1em;
  
}

h3 {
  font-size:2.6rem;
  color: var(--color-primary);

}
img {
    width: 100%;
}



a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  
}
/* Navbar */
.navbar {
  height: 100px;
  width: 100%;  
}

.navbar ul {
  display: flex;
 

}
.navbar a {
  color: var(--color-secondary);
  transition: color 0.25s;
  margin: 0 5px;
  font-size: 1.6rem;
  font-weight:550;
}

.navbar a:hover {
  color: rgb(32, 178, 170);
  
}

.navbar .flex {
  justify-content: space-between;
}

.nav-buss {
  width: 250px;
  height: 100px;
}



/* Container */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 40px;
  
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap:200px;
  height: 100%;
  
}

/*slider*/


.slider{
  width: 100%;
  height: 500px;
  overflow:hidden;
  background: rgb(198, 211, 210);
  background: -moz-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6d3d2",endColorstr="#768888",GradientType=1);

}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
  scroll-padding: 0%;
  
  
}


.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  
}

.block {
  text-align: center;
  color: var(--color-primary);
  
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid rgb(157, 182, 181);;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: rgb(157, 182, 181);
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}


/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid rgb(157, 182, 181);
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: rgb(205, 211, 211);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: rgb(205, 211, 211);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: rgb(205, 211, 211);
}

.block {
  flex-grow: 1;
}

/*intro container*/

.banner-introduction {
  position: relative;
  margin:40px 0 40px 0;
  height:auto;
  flex-wrap: nowrap;
  
  

}

.introduction-text{

  text-align: left;
  margin-top: 20px;
}
.introduction-paragraph {
  margin-top: 25px;
}


.intro-contact {
  border-radius: 100px;
  width: 250px;
  height: 50px;
  background-color:var(--color-primary);
  color:#ffff;
  align-content: space-around;
   
}



button {
  
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 100px;
  outline: none;
  text-align: center;
  transition: 0.3 ease;
}
button:hover {
  background-color:rgb(6, 121, 121);
}


/* Banner Info*/

.banner-info {
  position: relative;
  height: 450px;
  text-align: center;
  text-overflow: ellipsis;
  margin-top: 25px;
  overflow:hidden;
  width: 100%;

  background: rgb(198, 211, 210);
  background: -moz-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6d3d2",endColorstr="#768888",GradientType=1);

}

.info-image > img {
  border-radius: 150%;
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

/* Contact Form */
.contact-block {
  text-align: center;
  width: 100%;
  height: auto;
  background: rgb(198, 211, 210);
  background: -moz-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: -webkit-linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  background: linear-gradient(
    138deg,
    rgba(198, 211, 210, 1) 0%,
    rgba(118, 136, 136, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c6d3d2",endColorstr="#768888",GradientType=1);

  
  
}


.form-section {
  box-shadow: 0px 0px 30px rgb(157, 182, 181);
  min-height: calc(100vh - 270px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.contact-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 30px rgb(157, 182, 181);
  border-radius: 10px;
  margin-bottom: 20px;
}

/* input form*/

.form-group  {
  width: 100%;
  margin-top: 20px;
  font-size: 2rem;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.6rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 1.6rem;
  border-radius: 10px;
  color: var(--color-primary);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3 ease background-color;
}

button[type="submit"]:hover {
  background-color: rgb(157, 182, 181);
}



/*footer*/
footer {
  position:unset;
  bottom: 0;
  width: 100vw;
  /* height: 110px; */

}
.footer-page{
  
  text-align: center;
  width: 100%;
  height: 110px;
  background: rgb(1, 73, 71);
  margin-bottom: 0px;
   
 
}

.footer_rights{
  padding-top: 50px;
  color: aliceblue;
  font-size: 1.2rem;
}




@media screen and (max-width: 768px) {
  body {
    font-size: 1.6rem;
    margin-left: 2px;
    
  }
  h1,
  h2 {
    font-size: 4.3rem;
  }

  h3 {
    font-size:2.9rem;
  }
  .grid,
  .banner-info {
    grid-template-columns: 1fr;
    display:inline-table;
    grid-column-gap:0;
   
  }
 
  .info-image > img {
    border-radius: 150%;
    width: 150px;
    height: 150px;
    margin-top: 20px;
  }
  .banner-development,
  .banner-info {
    padding-bottom:0px;
    height: -100px;
  }

  .navbar {
    width:inherit;
  }

  .navbar a {
    font-size: 1.5rem;
  }
  .nav-buss {
    width: 200px;
    height: 75px;
  }
  .container {
    padding: 0;
    width:calc(min(90%, 70.5rem))

  }
  


}

/* List */

/* a {
  text-decoration: none;
} */

